.banner {
    padding: 0 10px;
    &.sin-padding {
        padding: 0;
    }

    img {
        max-width: 100%;
    }

    &.horizontal {
        margin-bottom:10px;
    }

    &.lateral {
        margin: 10px auto;
        a {}
    }
}

.banner-img-celular {
    display: none;
}

@media (max-width: 700px) {
    .banner {padding:0; margin-bottom:20px;}

    .banner-img-desktop {
        display: none;
    }
    .banner-img-celular {
        display: block;
        margin:0 auto;
    }
}
