$font-size-basico: 15px;


html {
    font-size: $font-size-basico;
    scroll-behavior: smooth;
}
body {
    font-family: $font-primaria;
    font-optical-sizing: auto;
  
    font-style: normal;
    font-weight: 400;
    color: $color-text;
}
strong,
b {
    font-weight: 700;
}

//para los popups de imágenes
.popup img {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

#general {
    max-width: 2000px;
    margin: 0 auto;
    background-color: white;
}
.contenedor {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu-lateral {
    width: 300px;
    left: -300px;
    transition: left 0.2s ease;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
    padding: 20px 0;
    padding-left: 20px;

    &.abierto {
        left: 0;
    }

    .contenido {
        & > * {
            padding: 10px 0;
            padding-right: 20px;
            border-bottom: 1px solid #ccc;
        }
        & > *:last-child {
            border-bottom: 0;
        }
        .logo {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            h2 {
                width: 200px;
                height: 35px;
                @include fondo-contain;
                background-image: url(../img/logo.svg);
            }
            a {
                font-size: 24px;
                font-weight: 900;
                &:hover, &:focus {color: $color-primary;}
            }
        }

        ul {
            color: #353534;
            font-size: 16px;
            font-weight: 600;
            h3 {
                color: #353534;
                font-size: 16px;
                font-weight: 600;
                margin: 20px 0;
            }
            li {
                &.sub {
                    padding-left: 10px;
                }
                margin: 5px 0;
                line-height: 1.1em;
            }
            &.regiones a {
                text-transform: uppercase;
            }
            a {
                padding: 10px 0;
                display: block;
                position: relative;
                left: 0;
                transition: left 0.2s ease;
                &:hover {
                    left: 5px;
                }
            }
        }
    }
}

.newsletter {
    position: relative;
    .suscribite {
        display: block;
        line-height: 2em;
        background-color: $color-primary;
        color: white;
        text-transform: uppercase;
        font-size: 14.5px;
        text-align: center;
        padding: 0 40px;
        font-weight: 600;
    }
    .suscribite:hover, .suscribite:focus {
        filter:brightness(1.1);
    }
    form {
        position: absolute;
        display: none;
        input[type="text"],
        input[type="email"] {
            width: 100%;
            background-color: #f0efef;
            border-bottom: 1px solid #a6a6a6;
            color: $color-text;
            font-weight: 300;
            font-size: 14.5px;
            text-align: center;
            padding: 8px 0;
        }
        button {
            display: block;
            width: 100%;
            background-color: #7c7d7d;
            color: white;
            padding: 8px 0;
            text-align: center;
            font-size: 14.5px;
        }
    }
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 800;
    //border-bottom: 1px solid #f5f5f5;
    padding-bottom: 20px;
    color: #231f20;

    .logo {
        flex-basis: 0;
        flex-grow: 1;
        
        h1 {
            width: 450px;
            height: 60px;
            @include fondo-contain;
            background-image: url(../img/logo.svg);
            font-size: 0;
            margin: 0 auto;
        }
    }

    .entresub {
        display: flex;
        align-items: center;
        .entrevistas {
            color: $color-text;
            padding-right: 10px;
            padding-left: 30px;
            background-image: url(../img/icn-mic.svg);
            background-size: 15px auto;
            background-position: left center;
            background-repeat: no-repeat;
            line-height: 35px;

            &:hover, &:focus {
                text-decoration:underline;
            }
        }
    }

    .arriba {

        font-family: $font-secundaria;

        .contenedor {
            padding: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .col {
                margin: 0 10px;

                flex-basis: 0;
                flex-grow: 1;

                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                &.derecha {
                    justify-content: flex-end;
                }

                .menu-secciones {
                    padding: 10px 10px 10px 35px;
                    @include fondo-contain;
                    background-position: 10px center;
                    background-size: 13px auto;
                    background-image: url(../img/menu.svg);
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-right: 15px;

                    &:hover, &:focus {background-color: $color-quaternary;}
                }

                .buscar {
                    display: block;
                    max-width: 280px;
                    flex-grow: 1;
                    input[type="text"] {
                        @include reiniciar-input;
                        width: 50%;
                        font-weight: 600;
                        font-size: 13px;
                        border: 0;
                        background-color: $color-input;
                        padding: 10px;
                        padding-left: 35px;
                        @include fondo-contain;
                        background-position: left 10px center;
                        background-size: 18px auto;
                        background-image: url(../img/lupa.svg);
                        transition: width 0.3s ease-in-out;
                        color: $color-text;
                        &::placeholder {
                            color: $color-input-placeholder;
                        }

                        &:focus {background-color: $color-input-focus; width:100%;}
                    }
                }

                .redes {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    a {
                        display: block;
                        margin: 0 8px;
                        &:hover {i {filter:brightness(1.1);}}
                        i {
                            mask-size: contain;
                            mask-position:center;
                            mask-repeat:no-repeat;
                            background-color:$color-primary;
                            display: block;
                        }
                        &.facebook i {
                            mask-image: url(../img/redes-negro/facebook.svg);
                            width: 11px;
                            height: 19px;
                        }
                        &.twitter i {
                            mask-image: url(../img/redes-negro/twitter.svg);
                            width: 20px;
                            height: 17px;
                        }
                        &.instagram i {
                            mask-image: url(../img/redes-negro/instagram.svg);
                            width: 18px;
                            height: 18px;
                        }
                        &.compartir i {
                            mask-image: url(../img/redes-negro/compartir.svg);
                            width: 18px;
                            height: 20px;
                        }
                        &.tiktok i {
                            mask-image: url(../img/redes-negro/tiktok.svg);
                            width: 18px;
                            height: 18px;
                        }
                        &.x i {
                            mask-image: url(../img/redes-negro/x.svg);
                            width: 18px;
                            height: 18px;
                        }
                        &.whatsapp i {
                            mask-image: url(../img/redes-negro/whatsapp.svg);
                            width: 18px;
                            height: 18px;
                        }
                        &.telegram i {
                            mask-image: url(../img/redes-negro/telegram.svg);
                            width: 18px;
                            height: 18px;
                        }
                        &.youtube i {
                            mask-image: url(../img/redes-negro/youtube-2.svg);
                            width: 30px;
                            height: 18px;
                            mask-size:cover;
                        }
                        &.pinterest i {
                            mask-image: url(../img/redes-negro/pinterest.svg);
                            width: 20px;
                            height: 22px;
                        }
                    }
                }
                .fecha {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    div {
                        margin: 0 5px;
                    }
                    .clima {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        .owf {
                            margin-right: 4px;
                            font-size: 1.3em;
                        }
                    }
                }
            }
            
        }
    }

    .abajo {
        .contenedor {
            padding:2em 0 0;
            .col {
                flex-basis: 0;
                flex-grow: 1;
                margin: 0 10px;

                &.derecha {
                    justify-content: flex-end;
                }

                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .menu {
                flex-basis: 0;
                flex-grow: 1;

                display: flex;
                justify-content: center;
                margin-top:1em;
                li {
                    padding: 3px 0;
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid $borde;
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                        border-right: 0;
                    }
                    a {
                        display: block;
                        text-transform: uppercase;
                        font-size: 15px;

                        &:hover, &:focus {text-decoration:underline;}
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {

    .entresub {
        display: none;
    }

    header {

        .logo {
            order: 1;
            a {
                margin: 0 auto;
            }
            margin-bottom: 10px;
        }

        .arriba {
            .contenedor {
                flex-flow: column nowrap;
                .col {
                    display: none;
                }
                .col:nth-child(1) {
                    order: 2;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
            }
        }
        .abajo {
            .contenedor {
                .menu {
                    display: none;
                }
            }
        }
    }

    .menu-lateral {
        .contenido {
            ul {
                font-size: 15px;
                li {
                    margin: 3px 0;
                }
            }
        }
    }
}

footer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 17px;
    font-family: $font-secundaria;

    .arriba {background-color: $color-tertiary;}

    .contenedor {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: stretch;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .col {
        padding: 0 35px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        border-right: 1px solid #a6a6a6;
        &:last-child {
            border-right: 0;
        }
    }

    .logo {
        img {
            
        }
    }

    .redes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        a {
            display: block;
            margin: 0 6px;
            &:hover {i {background-color:$color-primary;}}
            i {
                mask-size: contain;
                mask-position:center;
                mask-repeat:no-repeat;
                background-color:#FFFFFF;
                display: block;
            }
            &.facebook i {
                mask-image: url(../img/redes-negro/facebook.svg);
                width: 11px;
                height: 19px;
            }
            &.twitter i {
                mask-image: url(../img/redes-negro/twitter.svg);
                width: 20px;
                height: 17px;
            }
            &.instagram i {
                mask-image: url(../img/redes-negro/instagram.svg);
                width: 18px;
                height: 18px;
            }
            &.compartir i {
                mask-image: url(../img/redes-negro/compartir.svg);
                width: 18px;
                height: 20px;
            }
            &.tiktok i {
                mask-image: url(../img/redes-negro/tiktok.svg);
                width: 18px;
                height: 18px;
            }
            &.x i {
                mask-image: url(../img/redes-negro/x.svg);
                width: 18px;
                height: 18px;
            }
            &.whatsapp i {
                mask-image: url(../img/redes-negro/whatsapp.svg);
                width: 18px;
                height: 18px;
            }
            &.telegram i {
                mask-image: url(../img/redes-negro/telegram.svg);
                width: 18px;
                height: 18px;
            }
            &.youtube i {
                mask-image: url(../img/redes-negro/youtube-2.svg);
                width: 30px;
                height: 18px;
                mask-size:cover;
            }
            &.pinterest i {
                mask-image: url(../img/redes-negro/pinterest.svg);
                width: 20px;
                height: 22px;
            }
        }
    }

    p {
        margin-bottom: 15px;
    }

    .newsletter {
        max-width: 240px;
        h3 {
            font-size: 17px;
            font-weight: 700;
        }
        a {
            display: block;
            line-height: 2em;
            background-color: $color-primary;
            color: white;
            text-transform: uppercase;
            font-size: 14.5px;
            text-align: center;
            padding: 0 20px;
            font-weight: 600;
            max-width: 140px;
        }
        form {
            display: none;
        }
    }

    .sub {
        text-align: center;
        font-size: 15px;
        padding: 30px 0;
        color:$color-text;

        p {
            margin: 0;
        }
    }
}

@media (max-width: 650px) {
    footer {
        padding: 30px 0;
        text-align: center;
        .contenedor {
            display: block;
        }
        .col {
            margin: 20px 0;
            border-right: 0;
            align-items: center;
        }
        .redes {
            justify-content: center;
        }
        .sub {
            margin-top: 25px;
        }

        .newsletter {
            max-width: 240px;
            h3 {
                font-size: 17px;
                font-weight: 700;
            }
            a {
                display: none;
            }
            form {
                margin-top: 10px;
                width: 100%;
                display: block;
                input[type="email"],
                input[type="text"] {
                    font-size: 14px;
                    margin-bottom: 10px;
                    border: 0;
                    display: block;
                    width: 100%;
                    padding: 6px;
                    background-color: transparent;
                    border: 1px solid $color-text;
                    &::placeholder {
                        color: $color-input-placeholder;
                    }
                    color: $color-text;
                }
                button {
                    display: block;
                    box-sizing: border-box;
                    text-align: center;
                    width: 100%;
                    line-height: 2em;
                    background-color: $color-primary;
                    color: white;
                    text-transform: uppercase;
                    font-size: 14.5px;
                    text-align: center;
                    padding: 0 20px;
                    font-weight: 600;
                }
            }
        }
    }
}

.columnas {
    width: 100%;
    font-size: 0;
    .columna-noticias {
        font-size: initial;
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }
    .columna-banners {
        font-size: initial;
        display: inline-block;
        vertical-align: top;
        width: 25%;
    }
}

@media (max-width: 650px) {
    .columnas {
        .columna-noticias {
            display: block;
            width: 100%;
        }
        .columna-banners {
            display: none;
        }
    }
}

.texto {

    ul {
        margin-bottom: 10px;
        padding-left: 30px;
        list-style: disc;
        li {
            list-style: inherit;
        }
    }
    ol {
        margin-bottom: 10px;
        padding-left: 30px;
        list-style: decimal;
        li {
            list-style: inherit;
        }
    }

    p {
        margin-bottom: 10px;
    }

    a {
        color: #29c3ec;
        &:hover {
            text-decoration: underline;
        }
    }
}
