$font-size-basico: 15px;

html {
    font-size: $font-size-basico;
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #414142;
}
strong,
b {
    font-weight: 700;
}

//para los popups de imágenes
.popup img {
    display: block;
    max-width: 90vw;
    max-height: 90vh;
    width: auto;
    height: auto;
    object-fit: contain;
}

#general {
    max-width: 2000px;
    margin: 0 auto;
    background-color: white;
}
.contenedor {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu-lateral {
    width: 300px;
    left: -300px;
    transition: left 0.2s ease;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999;
    padding: 20px 0;
    padding-left: 20px;

    &.abierto {
        left: 0;
    }

    .contenido {
        & > * {
            padding: 10px 0;
            padding-right: 20px;
            border-bottom: 1px solid #ccc;
        }
        & > *:last-child {
            border-bottom: 0;
        }
        .logo {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            h2 {
                width: 110px;
                height: 100px;
                @include fondo-contain;
                background-image: url(../img/logo-c.svg);
            }
            a {
                font-size: 24px;
                font-weight: 900;
                font-family: "Lato", sans-serif;
            }
        }

        ul {
            color: #353534;
            font-size: 16px;
            font-weight: 600;
            h3 {
                color: #353534;
                font-size: 16px;
                font-weight: 600;
                margin: 20px 0;
            }
            li {
                &.sub {
                    padding-left: 10px;
                }
                margin: 5px 0;
                line-height: 1.1em;
            }
            &.regiones a {
                text-transform: uppercase;
            }
            a {
                padding: 10px 0;
                display: block;
                position: relative;
                left: 0;
                transition: left 0.2s ease;
                &:hover {
                    left: 5px;
                }
            }
        }
    }
}

header {
    font-family: "Roboto Condensed", sans-serif;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 800;
    //border-bottom: 1px solid #f5f5f5;
    padding-bottom: 20px;
    color: #231f20;
    .arriba {
        .contenedor {
            padding: 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .col {
                margin: 0 10px;

                flex-basis: 0;
                flex-grow: 1;

                display: flex;
                flex-flow: row nowrap;
                align-items: center;

                &.derecha {
                    justify-content: flex-end;
                }

                .menu-secciones {
                    padding-left: 24px;
                    @include fondo-contain;
                    background-position: left center;
                    background-size: 13px auto;
                    background-image: url(../img/menu.svg);
                    font-size: 14px;
                    text-transform: uppercase;
                    font-weight: 600;
                    margin-right: 15px;
                }

                .buscar {
                    display: block;
                    max-width: 280px;
                    flex-grow: 1;
                    input[type="text"] {
                        @include reiniciar-input;
                        width: 100%;
                        font-weight: 600;
                        font-size: 13px;
                        border: 0;
                        background-color: #f5f5f5;
                        padding: 10px;
                        padding-left: 35px;
                        @include fondo-contain;
                        background-position: left 10px center;
                        background-size: 18px auto;
                        background-image: url(../img/lupa.svg);
                        &::placeholder {
                            color: #231f20;
                        }
                    }
                }

                .redes {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: flex-start;
                    align-items: center;
                    a {
                        display: block;
                        margin: 0 8px;
                        i {
                            @include fondo-contain;
                            display: block;
                        }
                        &.facebook i {
                            background-image: url(../img/redes-negro/facebook.svg);
                            width: 11px;
                            height: 19px;
                        }
                        &.twitter i {
                            background-image: url(../img/redes-negro/twitter.svg);
                            width: 20px;
                            height: 17px;
                        }
                        &.instagram i {
                            background-image: url(../img/redes-negro/instagram.svg);
                            width: 18px;
                            height: 18px;
                        }
                        &.compartir i {
                            background-image: url(../img/redes-negro/compartir.svg);
                            width: 18px;
                            height: 20px;
                        }
                        &.tiktok i {
                            background-image: url(../img/redes-negro/tiktok.svg);
                            width: 18px;
                            height: 18px;
                        }
                        &.x i {
                            background-image: url(../img/redes-negro/x.svg);
                            width: 18px;
                            height: 18px;
                        }
                    }
                }
                .fecha {
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    div {
                        margin: 0 5px;
                    }
                    .clima {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        .owf {
                            margin-right: 4px;
                            font-size: 1.3em;
                        }
                    }
                }
            }
            .logo {
                flex-basis: 0;
                flex-grow: 1;
                h1 {
                    width: 320px;
                    height: 60px;
                    @include fondo-contain;
                    background-image: url(../img/logo.svg);
                    font-size: 0;
                    margin: 0 auto;
                }
            }
        }
    }

    .abajo {
        .contenedor {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            .col {
                flex-basis: 0;
                flex-grow: 1;
                margin: 0 10px;

                &.derecha {
                    justify-content: flex-end;
                }

                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .menu {
                flex-basis: 0;
                flex-grow: 1;

                display: flex;
                justify-content: center;
                li {
                    padding: 3px 0;
                    padding-right: 10px;
                    margin-right: 10px;
                    border-right: 1px solid $borde;
                    &:last-child {
                        padding-right: 0;
                        margin-right: 0;
                        border-right: 0;
                    }
                    a {
                        display: block;
                        text-transform: uppercase;
                        font-size: 15px;
                    }
                }
            }

            .entresub {
                display: flex;
                align-items: center;
                .entrevistas {
                    color: $texto;
                    padding-right: 10px;
                    padding-left: 20px;
                    background-image: url(../img/icn-mic.svg);
                    background-size: 15px auto;
                    background-position: left center;
                    background-repeat: no-repeat;
                    line-height: 35px;
                }
                .newsletter {
                    position: relative;
                    .suscribite {
                        display: block;
                        line-height: 2em;
                        background-color: $rojo;
                        color: white;
                        text-transform: uppercase;
                        font-size: 14.5px;
                        text-align: center;
                        padding: 0 40px;
                        font-weight: 600;
                    }
                    form {
                        position: absolute;
                        display: none;
                        input[type="text"],
                        input[type="email"] {
                            width: 100%;
                            background-color: #f0efef;
                            border-bottom: 1px solid #a6a6a6;
                            color: $texto;
                            font-weight: 300;
                            font-size: 14.5px;
                            text-align: center;
                            padding: 8px 0;
                        }
                        button {
                            display: block;
                            width: 100%;
                            background-color: #7c7d7d;
                            color: white;
                            padding: 8px 0;
                            text-align: center;
                            font-size: 14.5px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 700px) {
    header {
        .arriba {
            .contenedor {
                flex-flow: column nowrap;
                .col {
                    display: none;
                }
                .col:nth-child(1) {
                    order: 2;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                }
                .logo {
                    order: 1;
                    a {
                        margin: 0 auto;
                    }
                    margin-bottom: 10px;
                }
            }
        }
        .abajo {
            .contenedor {
                .menu {
                    display: none;
                }
                .entresub {
                    display: none;
                }
            }
        }
    }

    .menu-lateral {
        .contenido {
            ul {
                font-size: 15px;
                li {
                    margin: 3px 0;
                }
            }
        }
    }
}

footer {
    color: $texto;
    font-weight: 400;
    font-size: 17px;
    .contenedor {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        align-items: stretch;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    .col {
        padding: 0 35px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        border-right: 1px solid #a6a6a6;
        &:last-child {
            border-right: 0;
        }
    }

    .logo {
        img {
            width: 100px;
        }
    }

    .redes {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        a {
            display: block;
            margin: 0 6px;
            i {
                @include fondo-contain;
                display: block;
            }
            &.facebook i {
                background-image: url(../img/redes-negro/facebook.svg);
                width: 11px;
                height: 19px;
            }
            &.twitter i {
                background-image: url(../img/redes-negro/twitter.svg);
                width: 20px;
                height: 17px;
            }
            &.instagram i {
                background-image: url(../img/redes-negro/instagram.svg);
                width: 18px;
                height: 18px;
            }
            &.compartir i {
                background-image: url(../img/redes-negro/compartir.svg);
                width: 18px;
                height: 20px;
            }
            &.tiktok i {
                background-image: url(../img/redes-negro/tiktok.svg);
                width: 18px;
                height: 18px;
            }
            &.x i {
                background-image: url(../img/redes-negro/x.svg);
                width: 18px;
                height: 18px;
            }
        }
    }

    p {
        margin-bottom: 15px;
    }

    .newsletter {
        max-width: 240px;
        h3 {
            font-size: 17px;
            font-weight: 700;
        }
        a {
            display: block;
            line-height: 2em;
            background-color: $rojo;
            color: white;
            text-transform: uppercase;
            font-size: 14.5px;
            text-align: center;
            padding: 0 20px;
            font-weight: 600;
            max-width: 140px;
        }
        form {
            display: none;
        }
    }

    .sub {
        text-align: center;
        font-size: 13px;
        padding: 30px 0;

        p {
            margin: 0;
        }
    }
}

@media (max-width: 650px) {
    footer {
        padding: 30px 0;
        text-align: center;
        .contenedor {
            display: block;
        }
        .col {
            margin: 20px 0;
            border-right: 0;
            align-items: center;
        }
        .redes {
            justify-content: center;
        }
        .sub {
            margin-top: 25px;
        }

        .newsletter {
            max-width: 240px;
            h3 {
                font-size: 17px;
                font-weight: 700;
            }
            a {
                display: none;
            }
            form {
                margin-top: 10px;
                width: 100%;
                display: block;
                input[type="email"],
                input[type="text"] {
                    font-size: 14px;
                    margin-bottom: 10px;
                    border: 0;
                    display: block;
                    width: 100%;
                    padding: 6px;
                    background-color: transparent;
                    border: 1px solid $color;
                    &::placeholder {
                        color: $color;
                    }
                    color: $color;
                }
                button {
                    display: block;
                    box-sizing: border-box;
                    text-align: center;
                    width: 100%;
                    line-height: 2em;
                    background-color: $rojo;
                    color: white;
                    text-transform: uppercase;
                    font-size: 14.5px;
                    text-align: center;
                    padding: 0 20px;
                    font-weight: 600;
                }
            }
        }
    }
}

.columnas {
    width: 100%;
    font-size: 0;
    .columna-noticias {
        font-size: initial;
        display: inline-block;
        vertical-align: top;
        width: 75%;
    }
    .columna-banners {
        font-size: initial;
        display: inline-block;
        vertical-align: top;
        width: 25%;
    }
}

@media (max-width: 650px) {
    .columnas {
        .columna-noticias {
            display: block;
            width: 100%;
        }
        .columna-banners {
            display: none;
        }
    }
}

.texto {
    font-family: "Poppins", sans-serif;

    ul {
        margin-bottom: 10px;
        padding-left: 30px;
        list-style: disc;
        li {
            list-style: inherit;
        }
    }
    ol {
        margin-bottom: 10px;
        padding-left: 30px;
        list-style: decimal;
        li {
            list-style: inherit;
        }
    }

    p {
        margin-bottom: 10px;
    }

    a {
        color: #29c3ec;
        &:hover {
            text-decoration: underline;
        }
    }
}
