// Extensiones de bootstrap
@import "extensiones-bootstrap";

// Sweetalert
@import "node_modules/sweetalert/dist/sweetalert";

// Lity
@import "node_modules/lity/dist/lity";

// Bootstrap-toggle
@import "node_modules/bootstrap-toggle/css/bootstrap-toggle";

// Algunos básicos
img { max-width:100%; }

// Select2
@import "node_modules/select2/dist/css/select2";
@import "node_modules/select2-bootstrap-theme/dist/select2-bootstrap";
.select2-selection { padding-top:10px !important; }
.select2-con-imagen img { display:inline-block; margin-right:8px; max-width:60px !important; }

.has-error .select2-dropdown, .has-error .select2-selection {border-color: #dd4b39 !important;}

// Dropzone
.dropzone {
	width:100%;
	height:130px;
	border:1px dashed #aaa !important;
	position:relative;
	padding:0;
    display:flex;
    align-items:center;
    justify-content:center;
}

// Form Switch
.form-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin:0;
}

/* Hide default HTML checkbox */
.form-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3c8dbc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3c8dbc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-switch-container {display:flex; align-items:center; gap:1em;}
